:root {
  --white: #ebe5e2;
  --black: #272532;
  --primary: #292847;
  --secondary: #1e1f33;
  --tertiary: #77bfe3;
  --functionnal-grey: #808fea;
  --red: #960018;
  --green: #50c878;
  --orange: #f96815;
}
